

<h1>Login</h1>

<%= form_tag '/login' do %>
    <%= label :user, :email  %>
    <%= text_field :user, :email %>
    <%= label :user, :password %>
    <%= password_field :user, :password %>
    <label><input type="checkbox"> Remember me</label><br><br>
    <%= submit_tag "Login" %>
<% end %>

