

<h1>Login</h1>

<%= form_tag '/login' do %>
    <%= label :user, :email  %>
    <%= text_field :user, :email %>
    <%= label :user, :password %>
    <%= password_field :user, :password %>
    <%= submit_tag "Login" %>
<% end %>

<%= button_to 'Back', new_user_path, :method => 'get' %>