<h2><%=@seller.name%></h2>
<p><%=@seller.description%></p>

<h5>Contact:<%=@seller.email%></h5>

<% @seller.products.each do |product| %>
    <h4>Products:</h4>
    <p>
    <%= product.name %><br>
    <%= product.price %>
    </p>
<% end %>

<%=link_to 'Back', sellers_path%>
