<h2><%=@seller.name%></h2>
<p><%=@seller.description%></p>

<h5>Contact:<%=@seller.email%></h5>

<% @seller.products.each do |product| %>
<%= product.name %><br>
<%= image_tag product.image, style: 'height:10%; width:20%;' %>
<% end %><br><br>

<%=link_to 'Back', sellers_path%>
