<br><%=link_to 'Back', sellers_path%>

<h2><%=@seller.name%></h2>
<p><%=@seller.description%></p>

<div class="well">
  <div class="row">
    <div class="col-xs-8">

  <h4><% @seller.products.each do |product| %></h4>
  <h4 class="text-right"><%= product.name %><br>
  <h4 class="text-right">Unit Price: £  <span style="color: green"><%= product.price %>.00</span></h4>
   <div class="input-group">
    <h4 class="text-right">Quantity <%= number_field_tag 'quantity', nil,   within: 1..10%>
    <h4 class="text-right"><%= button_to "Add to cart", "/add_to_cart", method: :post, params: { product_id: product.id } %>
    <%= image_tag product.image, style: 'height:10%; width:20%;' %>
    <% end %><br><br>
  <h5>Contact:<%=@seller.email%></h5>
    
     </div>
  </div>
</div>