
<% if @user.errors.any?%>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="well">
  <div class="row">
    <div class="col-xs-8">
    <div><h4 class="text-center">

<%= form_for @user do |f| %>
    <h4 class="text-center"><%= f.label :username %></h4>
    <h4 class="text-center"><%= f.text_field :username %></h4>

    <h4 class="text-center"><%= f.label :password %></h4>
    <h4 class="text-center"><%= f.password_field :password%></h4>

    <h4 class="text-center"><%= f.label :email %></h4>
    <h4 class="text-center"><%= f.text_field :email %></h4>

    <h4 class="text-center"><%= f.submit 'Submit'%></h4>
<% end %>
 </div>
   </div>
  </div>
</div>


