
<% if @user.errors.any?%>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

  <%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password%>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.submit %>

    <% end %>
    </div>
  </div> 
</div>