
<div class="well">
  <div class="row">
    <div class="col-xs-8">


  <% if @order_items.length > 0%>
  <div><h3 class="text-center"><h1>Your ordered goodies here:</h3>

    <% @order_items.each do |item|%>
    <p><%=item.name%> | <%=link_to 'Remove', remove_path(item), :method => "delete" %>
    <%= button_to 'Checkout'%>
    <%end%><p>
    <%else%>
  <div><h3 class="text-center">You have not put goddies to your cart yet.</h3>
    <%end%>


<%= link_to 'Back to veggies', sellers_path %>
<%# <%= link_to 'Confirm Order', order_path() %> 


  </div>
  </div>
</div>


