
<div class="well">
  <div class="row">
    <div class="col-xs-8">

<div><h3 class="text-center"><h1>Your ordered goodies here:</h3>
<% if @order_items.any? %>
    <% @order_items.each do |item|%>
    <p><%=item.name%> | <%=link_to 'Remove', remove_path(item), :method => "delete" %>
    <%end%><p>
    <%end%>


<%= link_to 'Back to veggies', sellers_path %>
<%# <%= link_to 'Confirm Order', order_path() %> 

<%= button_to 'Checkout'%>
  </div>
  </div>
</div>


