<!DOCTYPE html>
<html>
  <head>
    <title>OrganicShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
   <% if flash[:notice]%>
  <h2><%= flash[:notice]%>
  <% end %>
      
  <%= render 'layouts/navigation' %>


   <% if current_user %>
  <h3>Hi, <%=current_user.username.capitalize%>!</h3>
  <% end %>

  <%= yield %>
  </body>
</html>
