<!DOCTYPE html>
<html>
  <head>
    <title>OrganicShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
   <% if current_user %>
  <h5>Hi, <%=current_user.username%>!</h5>
  <%= link_to 'Logout', '/logout', method: :delete %>
  <% else %>
  <%= link_to 'Login', '/login' %>
  <% end %>
    <%= yield %>
  </body>
</html>
